.navigation{
    display: flex;
    justify-content: space-between;
}
.login{
    padding:0 2rem;
}
.logo{
    height: 5rem;
}
.login__user{
border: none;
border-radius: 10rem;
text-align: center;
width: 10rem;
padding:1rem 2rem;
margin:0 0.5rem;
font-family: inherit;
text-align: center;

&:focus{
    outline-color: lightgreen;
}
&::placeholder{
    text-align: center;
    color: rgb(175, 174, 174);
    font-size: 1.9rem;
  
}

}
